@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Noto+Sans+KR|Righteous|Ubuntu&subset=korean');

:root {
	--background-color: #0f0036;
	--tint1: #783585;
	--tint2: rgb(51, 102, 204);
	--tint2-highlight: #5185fa;
}

body {
	background-color: var(--background-color);
	color: white;
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0px 200px;
	height: 100%;
}

h1 {
	/*background-color: #0f003680;*/
	font-family: 'Righteous', cursive;
	text-align: center;
	color: white;
	padding: 80px 0px 8px 0px;
	margin: 0px;
	/*position: sticky;*/
	/*position: -webkit-sticky;*/
	/*top: 0px;*/
}

h1::before {
	content: "\2022";
	padding-right: 8px;
}

a.button {
	background-color: var(--background-color);
	color: white;
	text-decoration: none;
	padding: 4pt 6pt;
	border: 1px solid white;
	border-radius: 5pt;
	line-height: 2.2em;
}

a.button:hover {
	background-color: gray;
}

a.strong {
	background-color: var(--tint2);
	border: 1px solid var(--background-color);
}

a.strong:hover {
	background-color: var(--tint2-highlight);
}

a.project {
	
}

footer {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	position: sticky;
	position: -webkit-sticky;
	/*top: 0px;*/
	/*left: 0px;*/
	/*right: 0px;*/
	bottom: 0px;
	margin: 0px;
	padding: 18px;
}

span.dot {
	height: 2px;
	width: 2px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
}
